In [35]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [4]:
import requests
import time
import json

In [83]:
canada = pd.read_html(r'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header =0, flavor = 'bs4')

In [84]:
cn_table=canada[0]

In [85]:
cn_table.replace('Not assigned',np.nan, inplace=True)

In [100]:
cnn=cn_table.dropna(thresh=2)

In [106]:
cnn=cnn.fillna(method="ffill", limit=2, axis=1)

In [226]:
cnn=cn_table.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list)
cnn.head()

Postcode  Borough
M1B       Scarborough                            [Rouge, Malvern]
M1C       Scarborough    [Highland Creek, Rouge Hill, Port Union]
M1E       Scarborough         [Guildwood, Morningside, West Hill]
M1G       Scarborough                                    [Woburn]
M1H       Scarborough                                 [Cedarbrae]
Name: Neighbourhood, dtype: object

In [228]:
data=DataFrame(cnn)
data.head()

                                                 Neighbourhood
Postcode Borough
M1B      Scarborough                          [Rouge, Malvern]
M1C      Scarborough  [Highland Creek, Rouge Hill, Port Union]
M1E      Scarborough       [Guildwood, Morningside, West Hill]
M1G      Scarborough                                  [Woburn]
M1H      Scarborough                               [Cedarbrae]

In [216]:
from pandas.core.frame import DataFrame

In [238]:
data=data.reset_index(drop=False, inplace=False)

In [241]:
data.shape

(103, 3)

In [198]:
data=data.drop(['index','level_0'],axis=1)

In [240]:
data.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                          [Rouge, Malvern]
1      M1C  Scarborough  [Highland Creek, Rouge Hill, Port Union]
2      M1E  Scarborough       [Guildwood, Morningside, West Hill]
3      M1G  Scarborough                                  [Woburn]
4      M1H  Scarborough                               [Cedarbrae]

In [252]:
data[['Neighbourhood']]=data[['Neighbourhood']].astype(str)
data.head()

  Postcode      Borough                                   Neighbourhood
0      M1B  Scarborough                            ['Rouge', 'Malvern']
1      M1C  Scarborough  ['Highland Creek', 'Rouge Hill', 'Port Union']
2      M1E  Scarborough       ['Guildwood', 'Morningside', 'West Hill']
3      M1G  Scarborough                                      ['Woburn']
4      M1H  Scarborough                                   ['Cedarbrae']

In [122]:
code=pd.read_csv('http://cocl.us/Geospatial_data')

In [251]:
code.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [200]:
data=data.rename(columns={'Postcode':'Postal Code'})

In [201]:
result = pd.merge(data,code)

In [202]:
result.head(10)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"[Rouge, Malvern]",43.806686,-79.194353
1,M1C,Scarborough,"[Highland Creek, Rouge Hill, Port Union]",43.784535,-79.160497
2,M1E,Scarborough,"[Guildwood, Morningside, West Hill]",43.763573,-79.188711
3,M1G,Scarborough,[Woburn],43.770992,-79.216917
4,M1H,Scarborough,[Cedarbrae],43.773136,-79.239476
5,M1J,Scarborough,[Scarborough Village],43.744734,-79.239476
6,M1K,Scarborough,"[East Birchmount Park, Ionview, Kennedy Park]",43.727929,-79.262029
7,M1L,Scarborough,"[Clairlea, Golden Mile, Oakridge]",43.711112,-79.284577
8,M1M,Scarborough,"[Cliffcrest, Cliffside, Scarborough Village West]",43.716316,-79.239476
9,M1N,Scarborough,"[Birch Cliff, Cliffside West]",43.692657,-79.264848

In [257]:
result.to_csv("result.csv",index=False)